[include fluidd.cfg]

[mcu]
baud: 250000
serial: /dev/ttyS4
restart_method: command

[force_move]
enable_force_move: True

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/printer_data/gcodes

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1500
max_z_velocity: 20
max_z_accel: 60
square_corner_velocity = 5.0

[bed_screws]
screw1: 35,35
screw2: 35,275
screw3: 275,275
screw4:	275,35

[stepper_x]
step_pin: P0.1
dir_pin: !P0.0
enable_pin: !P0.10
microsteps: 16
rotation_distance: 39.904
endstop_pin: ^!P1.28
position_endstop: 344.98
position_min: 0
position_max: 344.98
homing_speed: 40
homing_positive_dir: true

[dual_carriage]
axis: x
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 39.904
endstop_pin: ^!P1.29
position_endstop: -48
position_max: 310
position_min: -48
homing_speed: 40
homing_positive_dir: false

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: ^P1.27
position_endstop: -25
position_min: -25
position_max: 205
homing_speed: 30

[stepper_z]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 4.022
endstop_pin: ^!P1.25
position_endstop: 0.2
position_max: 400

[stepper_z1]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 4.022
endstop_pin: ^!P1.24

[tmc2209 stepper_x]
uart_pin: P1.8
tx_pin: P1.9
interpolate: True
run_current: 0.7
stealthchop_threshold: 200
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True
driver_HEND: 3
driver_HSTRT: 0

[tmc2209 dual_carriage]
uart_pin: P1.1
tx_pin: P1.4
interpolate: True
run_current: 0.7
stealthchop_threshold: 200
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True
driver_HEND: 3
driver_HSTRT: 0

[tmc2209 stepper_y]
uart_pin: P1.15
tx_pin: P1.16
interpolate: True
run_current: 0.7
stealthchop_threshold: 200
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True
driver_HEND: 3
driver_HSTRT: 0

[tmc2209 stepper_z]
uart_pin: P1.17
tx_pin: P4.29
interpolate: True
run_current: 0.7
stealthchop_threshold: 200
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True
driver_HEND: 3
driver_HSTRT: 0

[tmc2209 stepper_z1]
uart_pin: P1.10
tx_pin: P1.14
interpolate: True
run_current: 0.7
stealthchop_threshold: 200
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True
driver_HEND: 3
driver_HSTRT: 0

[fan]
pin: P2.3
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0

[pwm_tool Laser]
pin: !P2.4
hardware_pwm: True
cycle_time: 0.001
shutdown_value: 0

[pwm_tool Spindle]
pin: P2.5
hardware_pwm: False
cycle_time: 0.001
shutdown_value: 0

# Set laser power
[gcode_macro LASER_SET]
gcode:
    {% set S = params.S|default(0.0)|float %}
    SET_PIN PIN=Laser VALUE={S / 255.0}

# Disable
[gcode_macro LASER_OFF]
gcode:
    SET_PIN PIN=Laser VALUE=0

[gcode_macro SPINDLE_SET]
gcode:
    {% set S = params.S|default(0.0)|float %}
    SET_PIN PIN=Spindle VALUE={S / 255.0}

[gcode_macro SPINDLE_OFF]
gcode:
    SET_PIN PIN=Spindle VALUE=0

[gcode_macro USE_LASER]
gcode:
    G28 X
    SET_DUAL_CARRIAGE CARRIAGE=0 
    SET_GCODE_OFFSET X=0 Y=0

[gcode_macro USE_SPINDLE]
gcode:
    G28 X
    SET_DUAL_CARRIAGE CARRIAGE=1
    # @bksp: change laser-drill offset here
    SET_GCODE_OFFSET X=41.99 Y=-16.14

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  SPINDLE_OFF
  LASER_OFF
  M106 S0
  CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  SPINDLE_OFF
  LASER_OFF
  ##### get user parameters or use default #####
  {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
  {% set idle_timeout = client.idle_timeout | default(0) %}
  {% set temp = printer[printer.toolhead.extruder].target if printer.toolhead.extruder != '' else 0 %}
  {% set restore = False if printer.toolhead.extruder == ''
              else True  if params.RESTORE | default(1) | int == 1 else False %}
  ##### end of definitions #####
  SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_extruder_temp VALUE="{{'restore': restore, 'temp': temp}}"
  # set a new idle_timeout value
  {% if idle_timeout > 0 %}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=restore_idle_timeout VALUE={printer.configfile.settings.idle_timeout.timeout}
    SET_IDLE_TIMEOUT TIMEOUT={idle_timeout}
  {% endif %}
  PAUSE_BASE
  {client.user_pause_macro | default("")}
  _TOOLHEAD_PARK_PAUSE_CANCEL {rawparams}


[gcode_macro MOVE_TO_NEAREST_POINT]
gcode: 
    RUN_SHELL_COMMAND CMD=pcb_manufacture_opencv_client PARAMS=move_to_nearest_point

[gcode_macro FIND_NEAREST_POINT_COORDS]
gcode: 
    RUN_SHELL_COMMAND CMD=pcb_manufacture_opencv_client PARAMS=find_nearest_point_coords

[safe_z_home]
    home_xy_position: 344.98, 0
    z_hop: 70